<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Make It Chatbot </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: orange;">
    <div class="container">
        {{{body}}}
    </div>
    <form action="chatbot.php" method="post">
        Speak to the chatbot below: <br>
        <input type="text" name="Speech">
        <input type="submit" value="Submit">
    </form>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
